//============ link =================
$link-color: shift-color($primary, 20%) !default;
$link-shade-percentage: 20%;
$link-hover-color: $primary;

//todo 按鈕的大小四款式可以用 BS 的 button-size 套用
// BS 只有 btn-lg & bnt-sm
// 覆蓋並設定四種款式
// button-size(py, px, fz, bdrs)
// btn-lg: button-size(.5rem, 1rem, 1.25rem, .5rem)
// btn   : button-size(.375rem, .75rem, 1rem, .375rem)
// btn-sm: button-size(.25rem, .5rem, 0.875rem, .25rem)
/* Reference: [
$btn-padding-y,
$btn-padding-x,
$font-size,
$border-radius
]*/