//更改主題色，須在 Bootstrap.scss 之前，才能有效套用

$primary: #B9A399;// hsl(19, 19%, 66%)
$secondary: #E7E1DB;// hsl(30, 20%, 88%)
$warning: #FBC02D; // hsl(43, 96%, 58%)
$danger: #E53835; // hsl(1, 77%, 55%)
$light: #faf9f6; // hsl(45, 29%, 97%)
$info: #71c4ef; // hsl(200, 80%, 69%)
$dark: #2a2522; // hsl(19, 11%, 15%);