//============ link =================
$link-color: shift-color($primary, 20%) !default;
$link-shade-percentage: 20%;
$link-hover-color: $primary;

//TRY
.btn-primary-fill {
  $darker: shift-color($primary, 10%);
  $lighter: shift-color($primary, -20%);
  background-image: linear-gradient($lighter, $primary 55%, $primary 85%, $darker);
  background-size:100% 200%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  transition: background-position-y .4s;
  color: shift-color($primary, 60%) !important;
  font-weight: 600;
  border: none;

  &:hover {
    background-position-y: 0%;
  }
}
