//*====== 通用按鈕
.btn-sq {
	$leng: 40px;
	width: $leng;
	height: $leng;
}
@mixin btn-size($py, $px, $fz, $gap) {
	padding: $py $px;
	font-size: $fz;
  gap: $gap;
}
@mixin btn-prototype() {
  @extend .fx-center;
	text-align: center;
	vertical-align: middle;
	border-radius: 99rem;
	user-select: none;
	@include btn-size(1.5rem, 2.25rem, 1.125rem, .5rem);
	// 預設值
	&.btn-sm {
		@include btn-size(0.8rem, 3.375rem, 1rem, 0.625rem);
	}
	&.btn-lg {
		@include btn-size(1.75rem, 3.5rem, 1.25rem, .5rem);
	}
}

@mixin btn-fill-prototype($color) {
	@include btn-prototype();
	$darker: shift-color($color, 10%);
	$lighter: shift-color($color, -20%);
	/* 背景色 */
	background-image: linear-gradient($lighter, $color 55%, $color 85%, $darker);
	background-size: 100% 200%;
	background-position-y: 100%;
	background-repeat: no-repeat;
	/* 文字色 */
	color: color-contrast($color, shift-color($color, 60%), shift-color($color, -50%));
	border: none;
	transition: background-position-y 0.4s;

	&:hover {
		background-position-y: 0%;
	}
}
@mixin btn-frame-prototype($color) {
	@include btn-prototype();
	$darker: shift-color($color, 10%);
	$lighter: shift-color($color, -20%);
	/* 背景色 */
	background-color: $color-tint-5;
	/* 文字色 */
	color: shift-color($color, 20%);
	border: 3px solid $color;
	transition: background-color 0.4s, color 0.4s;

	&:hover {
		background-color: $lighter;
		color: $dark;
	}
}

@each $color, $value in $theme-colors {
	.btn-#{$color}-fill {
		@include btn-fill-prototype($value);
	}
	.btn-#{$color}-frame {
		@include btn-frame-prototype($value);
	}
}

//*====== 圓形按鈕






//*====== 分頁按鈕組
.pagination.fdd {
	--bs-pagination-bg: #{$secondary};
	--bs-pagination-color: #{$primary-text};
	--bs-pagination-border-color: #{$color-tint-5};

	--bs-pagination-hover-bg: #{shade-color($secondary, 10%)};
	--bs-pagination-hover-color: #{$color-tint-5};
	--bs-pagination-hover-border-color: #{$color-tint-5};

	--bs-pagination-active-bg: #{$primary};
	--bs-pagination-active-color: #{$color-tint-5};
	--bs-pagination-active-border-color: #{$color-tint-5};

	--bs-pagination-focus-bg: #{tint-color($primary, 20%)};
	--bs-pagination-focus-color: #{$color-tint-5};
	--bs-pagination-focus-border-color: #{$color-tint-5};
	--bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba($secondary, 0.25);

	--bs-pagination-disabled-bg: #{$color-muted};
	--bs-pagination-disabled-color: #{$color-heading};
	--bs-pagination-disabled-border-color: #{$gray-500};

	.page-link {
		height: 40px;
	}
}
//以上為較易改的寫法（根據 BS 覆蓋）
//以下為較易懂的寫法（重寫）
.pagination-fdd {
	@extend .fx-center, .list-unstyled;
	margin: 0;
	list-style: none;
}

.pagination-fdd .item {
	$bd-w: 1px;
	border: $bd-w solid $color-tint-5;

	&:first-child > .link {
		@include border-start-radius($border-radius);
		// border-radius: $border-radius 0 0 $border-radius;
	}
	&:last-child > .link {
		@include border-end-radius($border-radius);
		// border-radius: 0 $border-radius $border-radius 0;
	}
	&:not(:first-child) {
		margin-left: calc(-1 *#{$bd-w});
	}
}

.pagination-fdd .link {
	@extend .fx-center;
	padding: 0.375rem 0.75rem;
	height: 40px;
	transition: $pagination-transition;

	background-color: $secondary;
	color: $primary-text;
	border-color: $color-tint-5;

	&:hover {
		background-color: shade-color($secondary, 10%);
		color: $color-tint-5;
		// border-color: $color-tint-5;
	}

	&:focus {
		background-color: tint-color($primary, 20%);
		// color: $color-tint-5;
		// border-color: $color-tint-5;
		box-shadow: 0 0 0 0.25rem rgba($secondary, 0.25);
	}

	&.active {
		background-color: $primary;
		color: $color-tint-5;
		// border-color: $color-tint-5;
	}

	&.disabled {
		background-color: $color-muted;
		color: $color-heading;
		border-color: $gray-500;
	}
}
