$ppp: hsl(200, 80%, 69%);
$danger: hsl(4, 80%, 69%);
.btn-o {
	padding: 0.5rem;
	@extend .fx-center;
	background-color: $primary;
	color: $color-white;
	border-radius: 0.5rem;
	transition: background-color .4s;

	&:hover {
		background-color: hsl(200, 71%, 60%);
	}
	&:active {
		background-color: hsl(200, 71%, 55%);
	}
}

.btn-x {
	padding: 0.5rem;
	@extend .fx-center;
	background-color: $danger;
	color: $color-white;
	border-radius: 0.5rem;
	transition: background-color .4s;

	&:hover {
		background-color: hsl(4, 80%, 60%);
	}
	&:active {
		background-color: hsl(4, 80%, 55%);
	}
}
