//* 按鈕
.btn-sq {
	$leng: 40px;
	width: $leng;
	height: $leng;
}

//* Modal
.popout-prototype {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba($color-heading, 0.8);
	z-index: 9999;
	justify-content: center;
	align-items: center;

	.window {
		padding-inline: 3rem;
		min-width: 300px;
		min-height: 200px;
		background-color: $white;
		color: #111;
		border-radius: 1rem;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		// z-index: 99;
	}
}
.popout-notice {
	@extend .popout-prototype;
	display: flex;
}
.popout-confirm {
	@extend .popout-prototype;
	display: none;
}

//* 表格
.table-1row {
	th,
	td {
		padding: 0.5rem;
	}
	th {
		background-color: $color-heading;
		color: $color-white;
		white-space: nowrap;
		text-align: center;
	}
	tr {
		&:nth-child(odd) td {
			background-color: $color-p2;
		}
		&:nth-child(even) td {
			background-color: $color-muted;
		}
		td {
			color: $color-heading;
			text-align: center;
		}
	}
}

.table-2row {
	th,
	td {
		padding: 0.5rem;
	}
	thead {
		background-color: $color-heading;
		color: $color-white;

    th:not(:last-child) {
      border-right: 1px solid $color-white;
    }
	}
	tbody {
		color: $color-heading;
		tr:nth-child(4n+1) {
			background-color: $color-p2;
		}
		tr:nth-child(4n+3) {
			background-color: $color-muted;
		}
		tr:nth-child(even) {
			background-color: $color-white;
		}
	}
}