/* text color 灰階 */
$color-heading: $gray-800; // hsl(210, 10%, 23%);
$color-body: $gray-600;// BS 中的 secondary
$color-muted: $gray-400;

/* text color 帶色 */
$primary-text: hsl(19, 25%, 23%);
$info-text: hsl(200, 25%, 23%);
$danger-text: hsl(1, 25%, 23%);

/* color shade */
$color-shade-1: #857A79;
$color-shade-2: #6F625C;
$color-shade-3: #5D524D;
$color-shade-4: #37312E;
$color-shade-5: #000;

/* color shade */
$color-tint-1: #C0ACA3;
$color-tint-2: #CEBFB8;
$color-tint-3: #DCD1CC;
$color-tint-4: #EAE3E0;
$color-tint-5: #F1EDEB;//theme-light

//已更新進 BS 的顏色: primary, danger, light, secondary