/* primary colors */
$color-p1: #b9a399;
$color-p2: #e7e1db;
$color-white: #fffefb;
/* text color */
$heading-color: $gray-800;
$body-color: $gray-600;
$muted-color: $gray-400;
/* functional color */
$primary: #71c4ef;
$danger: #ef7971;
$skyblue: #eef6fa;