.fixed-height-table {
    min-height: calc(17 * 45px);
    overflow: hidden;
}

.arti-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover {
  transition: color .4s;
  &:hover {
    color: shade-color(($primary), 40%) !important;
  }
  &.active {
    color: shade-color(($primary), 20%) !important;
  }
}