.login-body {
  background: no-repeat center/cover url("member/images/bg_with_dog.jpg");
  //
  overflow: hidden;
}

.login-logo {
  background-color: $primary-text;
  height: fit-content;
  position: relative;
  left: 4rem;
}
.cart-icon {
  /*  */
  top: 30px;
  /*  */
  font-size: 36px;
  text-decoration: none;
  color: #000;
  span {
    top: -4px;
    right: -8px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }
}

.favorite-icon {
  background: #fff;
  font-size: 1.4rem;
  right: 10px;
  bottom: 10px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ccc;
  &.active {
    color: palevioletred;
  }
}

.login-form {
  input {
    border: 1px solid $primary;
  }
}

.member-center-panel {
  min-height: 60vh;
  background-color: $secondary;
  border-radius: 1rem 0 0 1rem;

  h2 {
    margin: 0 auto;
    padding: 1rem 2rem;
    width: fit-content;
    background-color: $primary;
    border-radius: 99rem;
  }
}
.member-center-avatar {
  min-height: 100%;
  border: 10px solid $secondary;
  border-radius: 0 1rem 1rem 0;
}