
.couponList th {
    
    font-size: 16px;
    text-align: center;
}

.couponList td {
    
    font-size: 14px;
    text-align: center;
}

.couponList .form-label,
.couponList p,
.couponList .form-control,
.couponList .form-check-label,
.couponList select.form-select,
.couponList select.form-select option,
.couponList .start_date,
.couponList .end_date {
    font-size: 14px;
}

.couponList .modal-body {
   
    font-size: 14px;
    font-weight: bold;
    color: red;
}
 .errorMsg {
     font-size: 14px;
     font-style: italic;
 }
