.crs-list_info {
	display: flex;
	justify-content: space-between;
  align-items: center;
}

.crs-list_info .dropdown-toggle {
	height: 40px;
}
.crs-list_info .dropdown-menu {
	background-color: $secondary;

	.dropdown-item {
		&:hover {
			background-color: $primary;
			color: $color-tint-5;
		}
	}
}

//狀態欄的說明訊息
// .crs-list_table .col-status {
// 	position: relative;
//     &:hover {
// 		&::before, &::after {
// 			opacity: 1;
// 		}
// 	}
//     &::before, &::after {
//         position: absolute;
// 		opacity: 0;
// 		// transition: opacity 0.4s;
//         font-weight: 400;
//     }
//     &::before {
//         content: '';
//         display: block;
//         border: 1rem solid transparent;
//         border-top-color: $secondary;
//         top: -1rem;
//     }
// 	&::after {
// 		content: "「尚未上架」、「在架上」、「已下架」";
// 		background-color: $secondary;
// 		color: $color-heading;
// 		line-height: 1.5;
// 		top: -2rem;
// 		right: 0;
// 	}
// }

.crs-list_table tr:nth-child(odd) td:not([colspan]) {
	transition: background-color 0.4s;
	&:not(:last-child):hover {
		background-color: $color-shade-4;
    color: $color-tint-4;
	}
}

.crs-list_thumbnail {
	max-height: 90px;
}

.table-2row tr:nth-child(4n + 2) .crs-list_tags {
	background-color: $secondary;
}
.table-2row tr:nth-child(4n + 4) .crs-list_tags {
	background-color: $color-muted;
}

.crs-list_tags {
	padding-inline: 0.5rem;
	line-height: 1.5;
	color: $color-heading;
	border: 1px solid $color-body;
	border-radius: 99rem;
	transition: background-color 0.4s;

	&:hover {
		background-color: $color-tint-5 !important;
	}
}

td > .grid > figure {
	transition: background-color 0.4s;
	border-radius: 1px;

	&:hover {
		box-shadow: 0 0 0 8px $color-tint-5;
	}
}
